.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 34px;
}
 .header__logo-text {
  color: #fff;
  font-family: 'Inter', 'sans-serif';
  text-transform: uppercase;
  font-weight: 900;
 }
